.container {
  margin: 40px 0 0;
  position: relative;
}

.container h3 {
  font-size: 18px;
  padding: 0;
  margin: 0 0 8px;
  color: var(--color-dark);
}

.container p {
  font-size: 16px;
  color: var(--color-medium);
}

.container label {
  position: absolute;
  top: calc(50% - 24px);
  right: 24px;

  font-size: 32px;
  color: var(--color-success);
}